 <app-baner></app-baner>
<app-personal-information></app-personal-information>
<!-- <div class="flex-container">
   <div class="flex-item-left">
    <app-education></app-education>
   </div >
   <div class="flex-item-right">
    <app-work-experience></app-work-experience>  
    </div>
  
</div> -->

<app-work-experience></app-work-experience>  
<app-skills></app-skills>
<!-- <app-project></app-project> -->
<app-roleandrespons></app-roleandrespons>
<app-education></app-education>
<app-contact></app-contact>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7430ae2f2d.js" crossorigin="anonymous"></script>
