:host{
    display: block;
    font-size: 1rem;
   
}

    h1{
       
        color:var(--green);
       
    
    }
h2{
    color:var(--green);
  
}

section{
    text-align :center;
    display: center;
    margin-top: 2rem;
    position: relative;
   
}
/* @media (max-width: 800px){
    section{
        display: grid;
        gap: 2rem 4rem;
        grid-template-columns: 1fr 1fr;

    }}     */