<div class="container">
    <h1>Work Experience</h1>
    <section>
        <div class="sectionone">
            <h2>Program Analyst</h2>
            <h3>Cognizant</h3>
            <h4>26/08/2022 - now</h4>
            <ul>
                <li>I had the opportunity to work on multiple Angular-based projects, further expanding my expertise in front-end development and Angular application development.</li>
                <li>I was involved in the Biopharma project, focused on hospital and patient data management. My role included designing various user interface views and implementing features such as carousels and lists using web technologies.</li>
                <li>Participated in code reviews with the product team, and worked with Senior Architects and experience in writing custom and scalable code. Worked on 30+ user stories in Jira.</li>
                <li>Worked on Angular concepts such as components, directives, services, routing, guards, ngx bootstrap modules and life cycle hooks.</li>
                <li>Designed and created modals and popups, enhancing user interactions and experience.</li>
                <li>Developed code for Footer part of our application by dynamically binding json data, which includes social media icons, etc.</li>
            </ul>
        </div>
        <div class="sectiontwo">
            <h2>Program Analyst Trainee</h2>
            <h3>Cognizant</h3>
            <h4>29/1/2022 - 26/08/2022</h4>
            <ul>
                <li>During my internship at Cognizant, I gained valuable experience in Angular, where I successfully contributed to a front-end project. My responsibilities included implementing data flow within the Angular application..</li>
                
            </ul>
        </div>
    
    </section>
   
<!--    
        <section *ngFor="let workExp of workExpList">
            <h2>{{workExp.role}}</h2>
            <h3>{{workExp.company}}</h3>
            <h4>{{workExp.duration}}</h4>

        </section> -->
   
</div>


