<div class="container">
    <h1>Roles and Responsibilities </h1>
    <ul class="section1">
        <li>
            Worked as a core team member to understand client requirements
        </li>
        <li>Contributed to a positive team dynamic by actively participating in code reviews, sharing knowledge, and mentoring with developers.</li>
        <li>Actively participated in Daily standup calls, Sprint planning meets, Retro meets, Show and tell meets, Syncup calls etc.</li>
        <li>
            Got the opportunity to explain the development workflow to client in show and tell meets
        </li>
        <li>Participated in Standing amigo meetings with client for reviewing upcoming requirements.</li>
        <li>Stayed current with Angular updates, adopting new features and technologies to enhance overall development efficiency.</li>
    </ul>
</div>